.mainContentRightContainer {
    width: 70%;
    padding-top: 0.5em;
    font-family: 'Inter';
}


.mainContentMiddleTitleHeading {
    font-size: 2em;
    text-align: left;
    margin-bottom: 0.5em;
}

.mainContentContainerBox {
    width: 90%;
    padding: 1.5em 2em;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.appointmentDetails {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em 10em;
    text-align: left;
}

.appointmentDetails p {
    margin: 0;
    line-height: 1.5em;
}

.appointmentDetails strong {
    font-weight: bold;
    color: #444;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    width: 90%;
}

.paymentButton,
.goBackButton,
.cancelButton {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em;
}

.goBackButton:hover {
    background-color: #0056b3;
}


.paymentButton {
    background-color: #28a745;
    color: white;
    border: none;
}

.paymentButton:hover {
    background-color: #218838;
}

.cancelButton {
    background-color: #dc3545;
    color: white;
    border: none;
}

.cancelButton:hover {
    background-color: #c82333;
}