.mainContainer {
    height: 100%;
    background: linear-gradient(to left, #e3f2fd, #f8fbff);
    padding-top: 20px;
    color: #0d47a1;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

.tableContainer {
    width: 95%;
    height: fit-content;
    gap: 10px;
    font-size: 20px;
    margin: 30px auto 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tableContainer table tbody tr {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.tableContainer table tbody tr:hover {
    background-color: #e3f2fd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tableContainer table tbodt tr:active {
    background-color: #bbdefb;
}

.tableHeader {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.tableContainer .MuiButton-contained:hover {
    opacity: 0.9;
}

.table {
    width: 100%;
    border: 2px solid #d3d3d3;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #0d47a1;
    padding: 8px;
    text-align: left !important;
}

th {
    background-color: #e3f2fd;
}

.statusPending {
    background-color: #f0ad4e;
    color: #fff;
}

.statusBooked {
    background-color: #007bff;
    color: #fff;
}

.statusFinished {
    background-color: #28a745;
    color: #fff;
}

.statusCanceled {
    background-color: #d9534f;
    color: #fff;
}

.statusNoShow {
    background-color: #777;
    color: #fff;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 2em;
}

.pagination li {
    margin: 0 0.5em;
}

.pagination a {
    color: #333;
    padding: 0.5em 1em;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.filterSortContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.filterSortContainer div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.noAppointmentsMessage {
    font-weight: bold;
    margin: 20px 0;
}