.mainContainer {
    height: 100%;
    padding-top: 20px;
    color: #0d47a1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
}

.greeting {
    border: 3px solid black;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-grow: 1;
    justify-self: flex-start;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}


.content1>div {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content1>div>div {
    text-align: left;
    width: 100%;
}

.content1 img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.content1>div:nth-child(1) {
    background-color: #fff6ed;
}


.content1>div:nth-child(2) {
    background-color: #f4e8ff;
}

.content1>div:nth-child(3) {
    background-color: #effff4;
}