.mainContainer {
    background: linear-gradient(to left, #e3f2fd, #f8fbff);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.greeting {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    color: #0d47a1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentWrapper {
    width: 90%;
    margin: 0 auto;
}

.container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);

}

.fullWidth {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.fullWidth>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
}

.halfWidth {
    grid-column: span 6;
}

.halfWidth>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.oneThirdWidth {
    grid-column: span 4;
}

.oneFourthWidth {
    grid-column: span 3;
    height: 100%;
}

.oneFourthWidth>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
}

.oneFourthWidth .metricBox {
    display: flex;
    flex-direction: column;
}

.thirdFourthWidth {
    grid-column: span 9;
}

.metricBox {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 22px;
    font-weight: 700;
}

.content {
    font-size: 20px;
}

.smallContent {
    font-size: 16px;
}

.chartContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: 4fr 2fr;
    width: 100%;
    margin: 20px auto;
}

.chart {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.lineChart {
    grid-column: span 2;
}

.chartLink {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: opacity 0.3s, transform 0.3s;
    /* Smooth transition */
}

.chartLink:hover {
    opacity: 0.9;
    transform: scale(1.01);
    /* Slightly enlarges the element */
}

.chartLink:active {
    opacity: 0.8;
}