.mainContainer {
    height: 100%;
    background: linear-gradient(to left, #e3f2fd, #f8fbff);
    padding-top: 20px;
    color: #0d47a1;
    width: auto;
    overflow: auto;
}


.tableContainer {
    width: 95%;
    height: fit-content;
    gap: 10px;
    margin: 20px auto 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.tableContainer table tbody tr {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.tableContainer table tbody tr:hover {
    background-color: #e3f2fd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tableContainer table tbodt tr:active {
    background-color: #bbdefb;
}

.tableHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}


.table {
    width: 100%;
    border: 2px solid #d3d3d3;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #0d47a1;
    padding: 8px;
    text-align: left !important;
}

th {
    background-color: #e3f2fd;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
