@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* BookingPageContent.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0; /* Removed padding to allow full-width breadcrumbs */
    width: 100%;
    min-height: 100vh; /* Ensure full viewport height */
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to entire container */
}

.breadcrumbsContainer {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to left, #657bd1, #049fbb);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contentBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px; /* Limit maximum width for larger screens */
    margin: 70px auto;
}

.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.content.step2 {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto;
}

.formContainer {
    flex-grow: 1; /* Allow form to grow and take available space */
    max-width: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #e0e4e5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.informationTab {
    width: 35%; /* Increase width slightly */
    max-width: 300px; /* Limit maximum width */
}

.heading {
    background-color: #1da1f3;
    color: white;
    font-weight: 700;
    padding: 14px;
    font-size: 20px;
    border-radius: 8px 8px 0 0;
}

.informationTabContent {
    font-size: 18px; /* Slightly reduced font size */
    border: 2px solid #e0e4e5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Light background for contrast */
}

.body {
    padding: 20px;
}

.body > div {
    margin-bottom: 10px; /* Add space between information lines */
}

.body b {
    color: #555;
    min-width: 120px;
    display: inline-block; /* Align labels */
}

.buttonContainer {
    display: flex;
    justify-content:flex-end;
    padding-top: 20px;
    gap: 10px;
    width: 100%;
}

.buttonContainer.step2 {
    /* justify-content: flex-end; */
}

.backButton,
.nextButton {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-decoration: none; 
    color: #007bff;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.backButton:hover,
.nextButton:hover {
    background-color: rgba(0, 123, 255, 0.25);
}

.backButton .MuiSvgIcon-root,
.nextButton .MuiSvgIcon-root {
    margin: 0 5px;
}

.dialog,
.repeatDialog {
    overflow: hidden;
}

.repeatDialog {
    width: 100%;
    max-width: 400px; /* Set a max-width instead of percentage */
    margin: 0 auto;
}