.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.breadcrumbs {
    width: 80%;
    padding: 1em;
    text-align: right;
    color: black;
}

.breadcrumbLink {
    color: #1975dc;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
}

.breadcrumbLink:hover {
    text-decoration: underline;
}

.breadcrumbText {
    color: #555;
    font-weight: bold;
    font-size: 1.2em;
}

.divider {
    background-color: black;
    width: 100%;
    margin: 1em auto;
}

.clinicHeader {
    margin-top: 2em;
    display: flex;
    align-items: flex-start;
    padding: 1em;
    width: 80%;
}

.avatar {
    height: 200px;
    width: 200px;
    margin-right: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.clinicName {
    font-size: 2.4em;
    font-weight: 500;
}

.imageList {
    width: 80%;
}

.button {
    background-color: #1975dc;
    color: #fff;
    width: 30%;
    border-radius: 5px;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    font-family: Arial, sans-serif;
}

.section {
    margin-bottom: 2em;
}

.sectionTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
}

.sectionContent {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

.divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 2em 0;
}

.contactInfo {
    padding: 0.5em 0;
}

.contactItem {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 0.5em;
}

.contactItem span {
    color: #333;
}